.admin {
    .page_name {
        @include word(24px, 33px);
    }
    .admin_list {
        tr {
            &:hover {
                background-color: $bg-gray-100;
                cursor: pointer;
            }
        }
    }
    .arrow_downward {
        display: inline-block;
    }
    .page-link {
        color: black;
        &:hover {
            color: white;
            background-color: $success;
        }
    }
    .modal-header {
        h3 {
            @include word(24px, 33px);
        }
    }
    h4 {
        @include word(20px, 33px);
    }
    label {
        font-size: 14px;
    }
    .btn-outline-gray {
        border: 1px solid $gray-400;
        color: $gray-400;
    }
    .modal-img {
        height: 141px;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    .model-title {
        @include word(24px, 36px);
    }
}
