.index {
    .list-group-item {
        &:hover {
            background-color: $bg-gray-100;
        }
        &.active {
            background-color: $bg-gray-100;
            border-color: $gray-400;
        }
    }
    .page_name {
        @include word(24px, 33px);
        select {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
    .assignment_name {
        font-size: 12px;
        color: $text-gray;
    }
    .assignment_expand {
        width: 58%;
    }
    .message_news {
        color: $text-gray;
    }
    .card_pic {
        width: 40px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .message_time {
        color: $text-gray;
    }
    .assignment_content {
        @include word(14px, 21px);
        a {
            display: inline;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .star-click {
        &:hover {
            font-weight: 900;
        }
    }
    .ck-editor__editable_inline {
        min-height: 250px;
    }
    .ck-content.ck-editor__editable,
    .ck.ck-toolbar {
        border-color: transparent !important;
    }
    .textarea {
        border: 1px solid;
    }
}
