@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", "Roboto Mono", monospace, sans-serif;
  color: #212529;
  line-height: 1.5; }
  body *,
  body *::before,
  body *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  display: block;
  color: #212529; }
  a:hover {
    text-decoration: none;
    color: #198754; }

label {
  display: inline-block; }

input {
  width: 100%;
  display: inline-block;
  background: transparent;
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none;
  border-radius: 0; }
  input:hover {
    cursor: pointer; }

.form-select {
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.mr-10 {
  margin-right: 10px; }

.mb-18 {
  margin-bottom: 18px; }

.bg-gray {
  background-color: #f8f9fa; }

.fs-7 {
  font-size: 12px; }

@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-left: 30px;
    padding-right: 30px; } }

@media (max-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (max-width: 992px) {
  .container {
    max-width: 960px; } }

@media (max-width: 768px) {
  .container {
    max-width: 720px; } }

@media (max-width: 576px) {
  .container {
    max-width: 540px; } }

@media (max-width: 414px) {
  .container {
    max-width: 320px; } }

.sideBar {
  min-height: 100vh;
  min-width: 296px; }
  .sideBar .sideBar_list h1 a {
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-position: center;
    background-size: cover;
    background-image: url(../images/logo-ANSWER.svg);
    width: 151px;
    height: 40px; }
    .sideBar .sideBar_list h1 a:hover {
      border-left: none;
      -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
              box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
  .sideBar .sideBar_list a {
    border-left: 4px solid transparent; }
    .sideBar .sideBar_list a:hover {
      color: #198754;
      border-left: 4px solid #198754; }
  .sideBar .img_wrap {
    width: 40px;
    height: 40px; }
    .sideBar .img_wrap img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .sideBar .sideBar_log_member .sideBar_log_email {
    color: #6c757d;
    font-size: 14px; }

.index .list-group-item:hover {
  background-color: #f8f9fa; }

.index .list-group-item.active {
  background-color: #f8f9fa;
  border-color: #ced4da; }

.index .page_name {
  font-size: 24px;
  line-height: 33px; }
  .index .page_name select:hover {
    cursor: pointer; }

.index .dropdown-toggle::after {
  display: none; }

.index .assignment_name {
  font-size: 12px;
  color: #6c757d; }

.index .assignment_expand {
  width: 58%; }

.index .message_news {
  color: #6c757d; }

.index .card_pic {
  width: 40px;
  height: 40px; }
  .index .card_pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.index .message_time {
  color: #6c757d; }

.index .assignment_content {
  font-size: 14px;
  line-height: 21px; }
  .index .assignment_content a {
    display: inline; }
    .index .assignment_content a:hover {
      text-decoration: underline; }

.index .star-click:hover {
  font-weight: 900; }

.index .ck-editor__editable_inline {
  min-height: 250px; }

.index .ck-content.ck-editor__editable,
.index .ck.ck-toolbar {
  border-color: transparent !important; }

.index .textarea {
  border: 1px solid; }

.admin .page_name {
  font-size: 24px;
  line-height: 33px; }

.admin .admin_list tr:hover {
  background-color: #f8f9fa;
  cursor: pointer; }

.admin .arrow_downward {
  display: inline-block; }

.admin .page-link {
  color: black; }
  .admin .page-link:hover {
    color: white;
    background-color: #198754; }

.admin .modal-header h3 {
  font-size: 24px;
  line-height: 33px; }

.admin h4 {
  font-size: 20px;
  line-height: 33px; }

.admin label {
  font-size: 14px; }

.admin .btn-outline-gray {
  border: 1px solid #ced4da;
  color: #ced4da; }

.admin .modal-img {
  height: 141px; }
  .admin .modal-img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%; }

.admin .model-title {
  font-size: 24px;
  line-height: 36px; }

/*# sourceMappingURL=all.css.map */
